@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import url('https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css');

:root {
	--af-white: #edf2f4ff;
	--black: #1b1b1eff;
	--blue: #12A9FF;
	--dark-purple: #160D22;
	--purple: #2D1F3E;
	--light-purple: #b7a7ca;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	color: var(--af-white);
	list-style: none;
	text-decoration: none;
}

body {
	width: 100%;
	min-height: 100vh;
	display: flex;
}

.container {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--blue);
	position: relative;
}

.main-content {
	display: grid;
	grid-template-rows: 1fr 10fr;
	grid-template-areas: "h" "p";
	width: 900px;
	height: 500px;
	background-color: var(--dark-purple);
	border-radius: 2.5em;
	justify-items: center;
	align-items: center;
}

.logo {
	grid-area: h;
	width: 100%;
	text-align: center;
	font-size: 2em;
	font-weight: 500;
	padding: .25em;
	color: #00e3d8;
}


.content {
	height: 80%;
	width: 75%;
	border-radius: 1.5em;
	background-color: var(--purple);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}

.input-group {
	display: flex;
	width: 80%;
	justify-content: space-between;
}

.input-box {
	display: flex;
	flex-direction: column;
}

.input-box input {
	width: 16em;
	height: 2.5em;
	outline: none;
	border: none;
	border-radius: .5em;
	padding-left: 1em;
	background-color: var(--light-purple);
}

.button-group {
	width: 80%;
	display: flex;
	justify-content: space-between;
}

.button-group button,
.button-group a {
	background-color: var(--blue);
	border-radius: .5em;
	border: none;
	width: 10em;
	height: 3em;
	cursor: pointer;
	font-size: 1em;
}

.button-group a {
	display: flex;
	justify-content: center;
	align-items: center;
}

.radio-date {
	display: grid;
	grid-template-columns: 1fr 1fr;
	width: 80%;
	justify-content: space-between;
	align-items: center;
}

.radio-box input[type="radio"] {
	margin-right: .5em;
	accent-color: var(--blue);
}

.date {
	padding-left: 1em;
	align-self: center;
	justify-self: center;
}